@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .heading-tertiary {
        @apply text-2xl font-bold
    }

    .logo-text {
        @apply text-2xl uppercase font-light
    }

    .navDropDown {
        @apply dropdown hidden flex-none lg:block 
    }

    .navDropDownContent {
        @apply menu bg-base-100 w-96 rounded-box z-[1] px-2 py-8 shadow gap-1
    }

    .btn-main {
        @apply bg-neutral-700 hover:bg-neutral-600 text-white uppercase px-4 py-2 rounded transition
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}